<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="{{ '/styles/styles.css' | prepend:site.url }}">
	<link rel="stylesheet" href="{{ '/styles/syntax.css' | prepend:site.url }}">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163967035-1"></script>
	<script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-163967035-1');
	</script>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ['$$', '$$'], ["\\(","\\)"] ],
          displayMath: [['$$', '$$'], ['\\[', '\\]']],
          processEscapes: true
        }
      });
    </script>
    
    <script
      type="text/javascript"
      charset="utf-8"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    ></script>

</head>

<body class="outer-body">
<div id="sidebar">
	<div id="outline">
		{% include toc.html html=content %}
	</div>
</div>

<div id="container" class="markdown-body">
		<span>
			{% if site.nav-links %}
			<nav>
				<ul>
					<li style="padding-right: 20px"><a href="/"><b>{{ site.title }}</b></a></li>
					{% for link in site.nav-links %}
					{% if link.url != "/" %}
					<li><a href="{{ link.url | prepend:site.url }}">{{ link.name }}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
			</nav>
			{% endif %}
		</span>
